.contacts {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;

	&__tel {
		font-weight: 800;
		font-size: 34px;
		font-family: var(--font-secondary);
		line-height: 1;
		text-decoration: none;
		transition: var(--transition);

		@include mouse {

			&:hover {
				color: var(--primary);
			}
		}
	}

	&__socials {
		display: flex;
		gap: 30px;
		align-items: center;
		justify-content: center;
	}

	&__social {
		display: flex;
		gap: 5px;
		align-items: center;
		font-size: 16px;
		text-decoration: none;
		transition: var(--transition);

		@include mouse {

			&:hover {
				color: var(--primary);
			}
		}

		&--whatsapp {
			color: #25d366;
		}

		&--tg {
			color: #2aabee;
		}
	}
}
