.input {
	display: block;
	width: 100%;
	min-height: 100px;
	padding: 30px 40px;
	color: var(--fc-dark);
	font-weight: 800;
	font-size: 24px;
	font-family: var(--font-secondary);
	background: #3d3d3d;
	border: 1px solid transparent;
	transition: var(--transition);

	@include md {
		min-height: 60px;
		padding: 15px 20px;
		font-size: 18px;
	}

	@include xs {
		min-height: 50px;
		font-size: 16px;
	}

	&:hover,
	&:focus {
		border-color: var(--primary);
	}
}

.file-box {
	display: flex;
	gap: 10px;
	align-items: center;
	width: 100%;
	font-weight: 500;
	font-size: 14px;

	@include xs {
		max-width: 250px;
	}

	&__input {
		display: none;
		appearance: none;
	}

	&__label {
		flex-grow: 1;
		min-width: auto;
		max-width: none;
		padding: 10px 40px;
		color: var(--fc-light);
		font-weight: 500;
		font-size: 14px;
		text-transform: none;
	}
}
